{
  "presets": [
    [
      "@babel/preset-env",
      {
        "useBuiltIns": "entry",
        "corejs": 3,
        "debug": false
      }
    ],
    "@babel/preset-react"
  ],
  "plugins": [
    [
      "@babel/plugin-transform-runtime",
      {
        "regenerator": true
      }
    ],
    [
      "@babel/plugin-proposal-class-properties",
      {
        "loose": true
      }
    ],
    [
      "@babel/plugin-transform-private-methods",
      {
        "loose": true
      }
    ],
    [
      "@babel/plugin-transform-private-property-in-object",
      {
        "loose": true
      }
    ],
    [
      "transform-react-remove-prop-types",
      {
        "removeImport": true
      }
    ]
  ],
  "env": {
    "development": {
      "sourceMaps": true,
      "retainLines": true
    },
    "test": {
      "sourceMaps": true,
      "retainLines": true
    }
  }
}
